{% extends "_base.html" %}

{% block content %}
<div class="container">

<div class="row">
    <div class="col-md-7">
      <h2 class="text-center">Select an Image</h2>
      <br>
      <div class="col-lg-12 col-md-6 col-xs-4">
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/KqtMKHm/0.jpg" alt="0.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/fYqV5gz/1.jpg" alt="1.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/FBXvbtc/2.jpg" alt="2.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/WgMbqM7/3.jpg" alt="3.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/M2QdSSh/4.jpg" alt="4.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/vJnY9tr/5.jpg" alt="5.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/c3Yf44J/6.jpg" alt="6.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/qdQ5Psn/7.jpg" alt="7.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/tXjy3BG/8.jpg" alt="8.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/8YhH39D/9.jpg" alt="9.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/JkSnfTq/10.jpg" alt="10.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/zGWtqbc/11.jpg" alt="11.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/TPm5L3k/12.jpg" alt="12.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/PckL9g6/14.jpg" alt="14.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/qsnPDBW/15.jpg" alt="15.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/x63Lzm5/16.jpg" alt="16.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/W0Ch4hv/17.jpg" alt="17.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/MhPb7By/18.jpg" alt="18.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/mNN7WS2/19.jpg" alt="19.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/16GSYC5/20.jpg" alt="20.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/J3DGkMW/21.jpg" alt="21.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/FXVkXzM/22.jpg" alt="22.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/XFSHKSF/23.jpg" alt="23.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/qCkCsP9/24.jpg" alt="24.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/sRsWGyS/25.jpg" alt="25.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/FqT2QP2/26.jpg" alt="26.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/t4Fh6qN/27.jpg" alt="27.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/PY1kH5v/28.jpg" alt="28.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/F40zmW2/29.jpg" alt="29.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/pyrMshC/30.jpg" alt="30.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/mFZ6gt6/31.jpg" alt="31.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/hs4Wq0z/32.jpg" alt="32.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/JR7dFvR/33.jpg" alt="33.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/qMqkH6n/34.jpg" alt="34.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/4ZkqQzv/35.jpg" alt="35.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/sgL7SRQ/36.jpg" alt="36.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/rw4Jn3S/37.jpg" alt="37.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/bP2x66V/38.jpg" alt="38.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/b7KqYhB/39.jpg" alt="39.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/pd1Fbb2/40.jpg" alt="40.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/XtGSL0g/41.jpg" alt="41.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/1vdGGsr/42.jpg" alt="42.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/yFZY4y0/43.jpg" alt="43.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/QJw6c8B/44.jpg" alt="44.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/kcpxcnY/45.jpg" alt="45.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/dgt1WFY/46.jpg" alt="46.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/0tZtVYs/47.jpg" alt="47.jpg" class="img img-responsive"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-4 thumb">
          <a class = "thumbnail"><img src="https://i.ibb.co/cLzYq63/48.jpg" alt="48.jpg" class="img img-responsive"></a>
        </div>

      </div>
    </div>   
    <div class="col-md-3 col-md-offset-1">
      <h2 class="text-center">Results</h2>
      <br>
      <p id="searching">Searching...</p>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p id="error">Oh no! No results! Check your internet connection.</p>
      <table class="table" id="results-table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody id="results">
        </tbody>
      </table>
    </div>
   
  </div>
    
</div>
   
  <br>
   
  {% endblock %}